.DS_Store
/.htaccess
/.ftpquota
/error_log
temporary/*
!temporary/.htaccess

temporary/backup/*
!temporary/backup
!temporary/backup/index.html

temporary/cache/*
!temporary/cache
!temporary/cache/index.html

temporary/log/*
!temporary/log
!temporary/log/index.html
!temporary/log/scaffold
!temporary/log/scaffold/index.html

temporary/package/*
!temporary/package
!temporary/package/index.html
!temporary/package/archives
!temporary/package/archives/index.html
!temporary/package/manifests
!temporary/package/manifests/index.html
!temporary/package/packages
!temporary/package/packages/index.html
!temporary/package/repositories
!temporary/package/repositories/index.html
!temporary/package/sdk
!temporary/package/sdk/index.html

temporary/scaffold/*
!temporary/scaffold
!temporary/scaffold/index.html

temporary/session/*
!temporary/session
!temporary/session/index.html

application/settings/database.php
application/settings/cache.php
/public
/socialengine4.8.10.zip
/databasedump.sql
/filemanager
/application/error_log
/rentstarz.com-06-05-16.tar.gz
/cometchat/writable/
/rentstarz.com-DATABASE.sql

